<form action="/login" method="post">
<fieldset>
    <legend>User Login</legend>
    Username: <input type="text" name="username" id="" required> <br><br>
    Password: <input type="password" name="password" id="" required> <br><br>
    <input type="submit" value="Login">
</fieldset>
</form>